.action-buttons{
    display: flex;
    flex-direction: row;
    gap: 10px
}

.comment{
    background-color: #ffffff;
    box-shadow: 1px;
    margin: 15px 0px 15px 0px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: fadeIn 0.6s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.comment-button{
    font-size: 0.8rem;
}

.comment-button:hover{
    cursor: pointer;
}

.text{
    margin-bottom:15px;
    margin-top: 6px;
    text-align: left;
}

.username{
    margin-top: 3px;
    margin-bottom: 0px;
}

.edit-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0px 0px 0px 0px;
}

.dialog{
    width: 300px;
}

.text-field{
    margin: 100px 0px
}